.thanh1{
    height: 50px;
    max-width: 100%;
    background-color: gray;
    padding: 10px;
}
.tintuc1{
    padding: 50px;
}
.xemthem{
    text-align: center;
    padding: 50px;
    
}
.xemthem button{
    border-radius: 10px;
    height: 60px;
    width: 200px;
    line-height:60px ;
    background-color: pink;
}
footer {
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: space-around;
}
.product{
    margin-top: 20px;
}
img{
    max-width: 100%;
}







@media screen and (min-width: 400px) {
    footer {
    height: 150px;
      display: grid;
      grid-template-columns: auto;
    }
    

}

@media screen and (min-width: 768px) {
  


}

@media screen and (min-width: 1024px) {
   
    #nav {
        padding-left: 600px;
    }
    footer {
        height: 150px;
        display: grid;
        grid-template-columns: repeat(3,auto);
        justify-content: space-around;
    }

}